
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}


/* Logo */
/* Header styles */
.navbar{
    padding: 40px 120px 10px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    padding: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    font-weight: 900;
    font-size: 34px;
    color : #4E47FF;
}
.banner-title{
    font-size: 65px;
    font-family: "Raleway";
    text-align: center;
}

/* Action styles */
.action{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
}
.action-title{
    font-weight: 800;
    font-size: 48px;
}
.action-image{
    border-radius: 20px;
}

/* User Styles */
.user{
    background-color: rgba(78, 71, 255, 0.1);
    padding: 40px 120px 40px 120px;
    margin: 40px 120px 40px 120px;
    border-radius: 20px;
}
.user-title{
    color: #252432;
    font-weight: 700;
    font-size: 37px;
    text-align: center;
    margin-bottom: 40px;
}
.user-primary-container{
    display: flex;
    justify-content: space-evenly;
}
.user-secondary-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.user-sub-head{
    font-family: "Inter";
    color: #4E47FF;
    font-weight: 800;
    font-size: 80px;
    margin-bottom: -30px;
}

/* Feedback Styles */
.feedback{
    margin: 120px 100px 80px 100px;
}
.feedback-title{
    color: #252432;
    font-size: 44px;
    font-weight: 800;
    text-align: center;
}
.feedback-primary-container{
    display: flex;
    justify-content: space-around;
    gap : 30px;
}
.feedback-secondary-container
{
    padding: 20px;
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    border: 2px;
    border-radius: 20px;
}
.users-review{
    display: flex;
    gap: 20px;
    align-items: center;
}
.user-review-image{
    border-radius: 100%;
}

/* Focus Styles */
.focus{
    margin: 120px 120px 80px 120px;
    padding: 30px 80px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.focus-title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: none;
}
.focus-btn{
    margin-top: 20px;
    margin-bottom: 20px;
}
